{% extends 'layout.html' %}

{% block pagetitle %} Login {% endblock %}

{% block header %}
<div id="header-home" class="container">
  <a href="/" id="logo"><span><strong>Task</strong>ground</span></a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post" accept-charset="utf-8" id="login-form">
    <label for="email">Email</label>
    <input type="email" name="email" value="{{ values.email }}" id="email" autocomplete="off" autofocus="true">

    <label for="password">Password</label>
    <input type="password" name="password" value="{{ values.password }}" id="password">
    {% if errors.login %}
    <p class="error-msg">{{ errors.login.msg }}</p>
    {% endif %}
    <p>
      <input type="submit" value="Login">
    </p>
    </form>
  </div>
{% endblock %}

{% block page_footer %}
{% endblock %}
