{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="company-info">
      {{ company.company }} <span class="type {{ company.type }}">{{ company.type }}</span>
      <span class="options">Users <a href="/subscription/tasks/{{ company._id.toString() }}">Tasks</a></span>
    </div>
    <table>
      <tr>
        <th>User</th>
        <th>Email</th>
      </tr>
    {% for user in users %}
    <tr>
      <td>
        {{ user.name }}
        <span class="type {{ user.type }}">{{ user.type }}</span>
        </td>
        <td>{{ user.email }}</td>
      </tr>
    {% endfor %}

  </table>
  </div>
{% endblock %}