{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="company-info">
      {{ company.company }} <span class="type {{ company.type }}">{{ company.type }}</span>
      <span class="options"><a href="/subscription/users/{{ company._id.toString() }}">Users</a> Tasks</span>
    </div>
    <table>
      <tr>
        <th>Task</th>
        <th>Date</th>
      </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }} <span class="type {{ task.status }}">{{ task.status }}</span></td>
      <td class="date">{{ task.date|date('Y-m-d') }}</td>
    </tr>
    {% endfor %}

  </table>
  </div>
{% endblock %}