<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ settings.appName }} - {% block pagetitle %}Workforce management for mobile teams{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icon152.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icon120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icon76.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icon60.png"> 
        {% block css %}
          {% if settings.appMode == 'production' %}
            <link rel="stylesheet" href="/css/home.min.css">
          {% else %}
            <link rel="stylesheet" href="/css/font-awesome.min.css">
            <link rel="stylesheet" href="/css/home.css">
            <style type="text/css" media="screen">
              #development {
                background-color: #FA5C4F;
                color: #fff;
                font-weight: bold;
                padding: .5em 0;
                text-align: center;
                font-size: 12px;
              }
            </style>
          {% endif %}
        {% endblock %}
        {% if settings.appMode == 'production' %}
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-634647-45', 'taskground.com');
            ga('send', 'pageview');

          </script>
        {% endif %}
    </head>
    <body>
      {% if settings.appMode == 'development' %}
          <div id="development">DEVELOPMENT</div>
      {% endif %}

      {% block header %}
      <div id="header-home" class="content">
        <a href="/" id="logo"><span><strong>Task</strong>ground</span></a>
        <button id="mobile-menu-button"><i class="fa fa-bars"></i></button>
        <div id="header-menu">
            <a href='/pricing'>Pricing</a>
            <a href='/support'>Support</a>
            <a href='/login'>Login</a>
        </div>
      </div>
      {% endblock %}

      {% block content %}{% endblock %}

      {% block page_footer %}
      <footer>
        <div class="content blocks">
          <div class="col">
            <h2>{{ settings.appName }}</h2>
            <p>{{ settings.appName }} is a workforce management tool for mobile teams.</p>
          </div>
          <div class="col">
            <h2>Navigation</h2>
            <a href="/pricing">Pricing</a>
            <a href="/support">Support</a>
            <a href="/login">Login</a>
          </div>
          <div class="col">
            <h2>Contact</h2>
            <p>For inquiries please email us to 
            hello<!-- @. -->@<!-- @. -->taskground<!-- @. -->.<!-- @. -->com</p>
          </div>
        </div>
      </footer>
      {% block footer_scripts %}
      {% endblock %}
      <script>
        function toggle (e) {
          e.stopPropagation();
          e.preventDefault();
          if (menu.style.display == 'block') { menu.style.display = 'none'; }
          else { menu.style.display = 'block'; }            
        }
        var menu = document.getElementById('header-menu');
        var menuButton = document.getElementById('mobile-menu-button');
        menuButton.onclick = toggle;
        menuButton.ontouchstart = toggle;
        var links =document.getElementsByTagName('a');
        for(var i=0;i<links.length;i++) {
          links[i].onclick = function() {
            window.location = this.getAttribute('href');
            return false;
          }
        }
      </script>
      {% endblock %}
    </body>
</html>