{% extends 'layout.html' %}

{% block css %}
  {% if settings.appMode == 'production' %}
    <link rel="stylesheet" href="/css/mobile.min.css">
  {% else %}
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  {% endif %}
{% endblock %}

{% block header_options %}
<div id="header-menu">
  <button id="settings-button"><i class="fa fa-gear"></i> <span>Settings</span></button>
  <a href="/logout" id="logout"><i class="fa fa-power-off"></i> <span>Logout</span></a>
</div>
{% endblock %}

{% block content %}
<div id="loading-cover">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div id="main-block" class="block">
  <div id="tasks-list" data-empty="There are no tasks."></div>
  <div class="mobile-controls">
    <button id="todo-filter" class="active"><i class="fa fa-circle-o"></i> To do</button>
    <button id="done-filter"><i class="fa fa-check-circle-o"></i> Done</button>
  </div>
</div>

<div id="settings-block" class="block">
  <form action="#" method="post" id="settings-form">
    <label for="name">Name</label>
    <input type="text" name="name" value="" id="userName">
    <p id="user-name-error" class="error-msg hidden"></p>

    <label for="email">Email</label>
    <input type="email" name="email" value="" id="userEmail">
    <p id="user-email-error" class="error-msg hidden"></p>

    <label for="password">Password</label>
    <input type="password" name="password" value="" id="userPassword">

    <input type="submit" value="Submit">
    <button id="settings-cancel" class="btn-cancel">Cancel</button>
  </form>
</div>

<div id="details-block" class="block">
  <p><span id="task-name"></span> <span id="status" data-done="done"></span></p>
  <p id="task-info"></p>

  <div id="details">
    Marker details
  </div>

  <div id="pending-messages">
  </div>

  <div class="mobile-controls">
    <button id="back"><i class="fa fa-arrow-left"></i> Back</button>
    <button id="subcontrols"><i class="fa fa-plus"></i> Options</button>
  </div>
  <div id="details-subcontrols">
      <button id="done">Mark as done</button>
      <button id="todo">Mark as to do</button>
      <button id="pending">Mark as pending</button>
      <button id="map-button">View map</button>
      <button id="subcontrols-cancel">Cancel</button>
  </div>
</div>

<div id="pending-block" class="block">
    <form action="#" method="post" id="pending-form">
    <label for pending-msg>Message</label>
    <textarea name="pending-msg" id="pending-msg"></textarea>
    <input type="submit" value="Submit">
    <button id="pending-cancel" class="btn-cancel">Cancel</button>
    </form>
</div>

</div>
<div id="map-block" class="block">
    <div id="map"></div>
    <div class="mobile-controls">
        <button id="close-map"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script id="task-index-template"  type="text/template">
  <div class="task task-<%this.status%>" id="<%this._id%>" data-id="<%this.index%>">
    <p class="task-title"><%this.name%></p>
    <p class="task-time"><%this.time%></p>
  </div>
</script>

<script id="task-pending-message"  type="text/template">
    <% for(i=0;i<this.pending.length;i++) { %>
    <p class="pending-msg">
        <span><%this.pending[i].formated_date%> - <%this.pending[i].user%></span>
        <%this.pending[i].message.replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1<br>$2')%>
    </p>
    <% } %>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
{% if settings.appMode == 'production' %}
<script type="text/javascript" src="/js/mobile.min.js"></script>
{% else %}
<script type="text/javascript" src="/js/common/jquery.js"></script> 
<script type="text/javascript" src="/js/common/map.js"></script>
<script src="/js/common/template-engine.js" type="text/javascript"></script>
<script src="/js/mobile/tasks.js" type="text/javascript"></script>
<script src="/js/mobile/mobile.js" type="text/javascript"></script>
{% endif %}
{% endblock %}
